{% extends 'portfolio/base.html' %}

{% block title %}Confirmă Ștergerea{% endblock %}

{% block content %}
    <section class="confirm-delete-section">
        <h2>Confirmă Ștergerea</h2>
        <p>Ești sigur că vrei să ștergi secțiunea "<strong>{{ section.header }}</strong>"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn delete-btn">Da, Șterge</button>
            <a href="{% url 'edit_cv' %}" class="btn cancel-btn">Anulează</a>
        </form>
    </section>
{% endblock %}